<html>
{% load staticfiles %}
<head>
    <title>美度图书</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'css/shop.css' %}" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.desoslide.css' %}">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer4.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="http://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i"
          rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet">

</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div style="position:fixed;top:0px;left:0px;width:0;height:0;" id="scrollzipPoint"></div>
<div id="home">


    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="main-nav">
            <div class="container">

                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-ex1-collapse">
                        <span class="sr-only">美度图书</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand" href="{% url 'operation:index' %}">美度图书</a>
                    </h1>
                </div>

                <div class="collapse navbar-collapse navbar-ex1-collapse nav-right">
                    <ul class="nav navbar-nav navbar-left cl-effect-15">

                        <li class="hidden active">
                            <a class="page-scroll" href="#page-top"></a>
                        </li>
                        <li>
                            <a href="{% url 'operation:index' %}">主页</a>
                        </li>
                        <li class="">
                            <a href="{% url 'operation:about' %}">关于我们</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">书城
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" style="display: none;">
                                <li>
                                    <a href="{% url 'operation:shop' %}">书目</a>
                                </li>
                                <li>
                                    <a href="{% url 'operation:checkout' %}">心愿单</a>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="{% url 'operation:contact' %}">联系我们</a>
                        </li>
                        {% if isLogin %}
                            <li class="dropdown">

                                <a href="#" class="dropdown-toggle effect-3"
                                   data-toggle="dropdown">{{ userInfo.nickname }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" style="display: none;">
                                    <li>
                                        {#                                    用户头像#}
                                        <img src="{{ userInfo.avatar.url }}" style="max-width: 50%;"
                                             class="text-center img-circle img-responsive"/>
                                    </li>
                                    <li>
                                        <a href="{% url 'user:center' %}">个人信息</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'operation:rental' 1 %}">租借信息</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'user:logout' %}">登出</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'operation:login' %}" title="登录 &amp; 注册">
                                    <span class="fa fa-user nav-icon" aria-hidden="true"></span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>

                    <div class="search-bar-agileits">
                        <div class="cd-main-header">
                            <ul class="cd-header-buttons">
                                <li>
                                    <a class="cd-search-trigger" href="#cd-search">
                                        <span></span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div id="cd-search" class="cd-search">
                            <form action="{% url 'operation:search' %}" method="post">
                                {% csrf_token %}
                                <input name="search" type="keyword" placeholder="请输入书名或作者">
                            </form>
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>

        </div>
    </nav>


    <div class="banner-bg-inner">

        <div class="banner-text-inner">
            <div class="container">
                <h2 class="title-inner">
                    图书世界
                </h2>

            </div>
        </div>

    </div>


    <div class="crumbs text-center">
        <div class="container">
            <div class="row">
                <ul class="btn-group btn-breadcrumb bc-list">
                    <li class="btn btn1">
                        <a href="{% url 'operation:index' %}">
                            <i class="glyphicon glyphicon-home"></i>
                        </a>
                    </li>
                    <li class="btn btn2">
                        <a href="{% url 'operation:about' %}">关于我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div id="section_demo" class="section">
        <div class="container">
            <h4 class="rad-txt">
                <span class="abtxt1">图书</span>
                <span class="abtext">画廊</span>
            </h4>
            <div class="row">

                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div id="slideshow_1_thumbs_1" class="col-lg-2 col-md-2">
                            <ul class="slideshow1_thumbs desoslide-thumbs-vertical list-inline text-center">
                                <li>
                                    <a href="{% static 'images/l3.jpg' %}" data-desoslide-index="0">
                                        <img src="{% static 'images/lt3.jpg' %}" alt="美度图书_image"
                                             data-desoslide-caption-title="Library Gallery"
                                             class="img-responsive">
                                    </a>
                                </li>
                                <li>
                                    <a href="{% static 'images/l2.jpg' %}" data-desoslide-index="1">
                                        <img src="{% static 'images/lt2.jpg' %}" alt="美度图书_image"
                                             data-desoslide-caption-title="Library Gallery"
                                             class="img-responsive">
                                    </a>
                                </li>
                                <li>
                                    <a href="{% static 'images/l5.jpg' %}" data-desoslide-index="2">
                                        <img src="{% static 'images/lt5.jpg' %}" alt="美度图书_image"
                                             data-desoslide-caption-title="Library Gallery"
                                             class="img-responsive">
                                    </a>
                                </li>
                                <li>
                                    <a href="{% static 'images/l4.jpg' %}" data-desoslide-index="3">
                                        <img src="{% static 'images/lt4.jpg' %}" alt="美度图书_image"
                                             data-desoslide-caption-title="Library Gallery"
                                             class="img-responsive">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="slideshow1" class="col-lg-8 col-md-8">
                            <div class="desoslide-wrapper"><img alt="美度图书_image" class="img-responsive animated fadeIn"
                                                                src="{% static 'images/l3.jpg' %}">
                                <div class="desoslide-overlay"
                                     style="left: 0px; top: 394px; width: 750px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; opacity: 0.7;">
                                    <span class="desoslide-caption-title">图书画廊</span>
                                    <div class="desoslide-controls-wrapper"><a class="desoslide-controls prev"
                                                                               href="#prev"></a><a
                                            class="desoslide-controls pause" href="#pause" style="display: none;"></a><a
                                            class="desoslide-controls play" href="#play"></a><a
                                            class="desoslide-controls next"
                                            href="#next"></a></div>
                                </div>
                            </div>
                        </div>
                        <div id="slideshow_1_thumbs_2" class="col-lg-2 col-md-2">
                            <ul class="slideshow1_thumbs desoslide-thumbs-vertical list-inline">
                                <li>
                                    <a href="{% static 'images/l1.jpg' %}" data-desoslide-index="4">
                                        <img src="{% static 'images/lt1.jpg' %}" alt="美度图书_image"
                                             data-desoslide-caption-title="Library Gallery"
                                             class="img-responsive">
                                    </a>
                                </li>
                                <li>
                                    <a href="{% static 'images/l6.jpg' %}" data-desoslide-index="5">
                                        <img src="{% static 'images/lt6.jpg' %}" alt="美度图书_image"
                                             data-desoslide-caption-title="Library Gallery"
                                             class="img-responsive">
                                    </a>
                                </li>
                                <li>
                                    <a href="{% static 'images/l7.jpg' %}" data-desoslide-index="6">
                                        <img src="{% static 'images/lt7.jpg' %}" alt="美度图书_image"
                                             data-desoslide-caption-title="Library Gallery"
                                             class="img-responsive">
                                    </a>
                                </li>
                                <li>
                                    <a href="{% static 'images/l8.jpg' %}" data-desoslide-index="7">
                                        <img src="{% static 'images/lt8.jpg' %}" alt="美度图书_image"
                                             data-desoslide-caption-title="Library Gallery"
                                             class="img-responsive">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>

    <div class="footerv4-top">
        <div class="container">
            <ul class="bottom-links-agile">
                <li>
                    <a href="{% url 'operation:index' %}">首页</a>
                </li>
                <li>
                    <a href="{% url 'operation:about' %}">关于我们</a>
                </li>
                <li>
                    <a href="{% url 'operation:shop' %}">书城</a>
                </li>
                <li>
                    <a href="{% url 'operation:contact' %}">联系我们</a>
                </li>
                <li>
                    {% if isLogin %}
                        <a href="{% url 'user:center' %}" class="text-right">个人中心</a>
                    {% else %}
                        <a href="{% url 'operation:login' %}" class="text-right">登录</a>
                    {% endif %}
                </li>

            </ul>


            <div class="col-md-3 col-sm-6 footv4-left">
                <h3>关于我们</h3>
                <h4>
                    <a href="{% url 'operation:index' %}">美度图书</a>
                </h4>
                <p>美好度过阅读时光</p>


            </div>
            <div class="col-md-3 col-sm-6 footv4-content">
                <h3>推荐类别</h3>
                <ul class="v4-content">
                    {% for category in category_list %}
                        <li>
                            <a href="{% url 'operation:shop_categories' category.0 %}">{{ category.1 }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 footv4-left fv4-g3">
                <h3>最新藏书</h3>
                <ul class="v4-rel">
                    {% for book_info in last_book_info_list %}
                        <li>
                            <a href="{% url 'operation:single_product' book_info.0 %}">
                                {{ book_info.1 }}
                            </a>
                            <p>{{ book_info.2 }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 footv4-left">
                <!--          如果已经存在，那么直接返回详情页，否则装入预订单-->
                <h3>找不到想要的?</h3>
                <form action="{% url 'operation:wish' %}" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="书名" name="name" style="color: black;" required>
                    <input type="text" placeholder="作者" name="author" style="color: black;" required>
                    <input type="text" placeholder="更多书籍信息" name="other" style="color: black;" required>
                    <input type="submit" value="提交">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="cpy-right">
        <p>Copyright © 2020.Company name All rights reserved.
        </p>
    </div>
</div>


<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>


<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>


<script src="{% static 'js/main.js' %}"></script>


<script src="{% static 'js/minicart.js' %}"></script>
<script>
    chr.render();

    chr.cart.on('new_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
            items = this.items();

            for (i = 0, len = items.length; i < len; i++) {
            }
        }
    });
</script>


<script src="{% static 'js/jquery.desoslide.min.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>


<script src="{% static 'js/scrolling-nav.js' %}"></script>


<script src="{% static 'js/move-top.js' %}"></script>
<script src="{% static 'js/easing.js' %}"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>


<script>
    $(document).ready(function () {
        /*
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };
        */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
<script src="{% static 'js/numscroller-1.0.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<img src="{% static 'images/l3.jpg' %}" alt="美度图书_image" style="display: none;"><img src="{% static 'images/l2.jpg' %}"
                                                                                     alt="美度图书_image"
                                                                                     style="display: none;"><img
        src="{% static 'images/l5.jpg' %}" alt="美度图书_image" style="display: none;"><img
        src="{% static 'images/l4.jpg' %}"
        alt="美度图书_image"
        style="display: none;"><img
        src="{% static 'images/l1.jpg' %}"
        alt="美度图书_image"
        style="display: none;"><img
        src="{% static 'images/l6.jpg' %}" alt="美度图书_image" style="display: none;"><img
        src="{% static 'images/l7.jpg' %}"
        alt="美度图书_image"
        style="display: none;"><img
        src="{% static 'images/l8.jpg' %}"
        alt="美度图书_image"
        style="display: none;"><a
        href="#" id="toTop" style="display: none;"><span id="toTopHover" style="opacity: 0;"></span>To Top</a></body>
</html>
