<html>
{% load staticfiles %}
<head>
    <title>美度图书</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'css/shop.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'css/checkout.css' %}" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui1.css' %}">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'css/footer4.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i"
          rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet">

</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div id="home">


    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="main-nav">
            <div class="container">

                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-ex1-collapse">
                        <span class="sr-only">美度图书</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand" href="{% url 'operation:index' %}">美度图书</a>
                    </h1>
                </div>

                <div class="collapse navbar-collapse navbar-ex1-collapse nav-right">
                    <ul class="nav navbar-nav navbar-left cl-effect-15">

                        <li class="hidden active">
                            <a class="page-scroll" href="#page-top"></a>
                        </li>
                        <li>
                            <a href="{% url 'operation:index' %}">首页</a>
                        </li>
                        <li class="">
                            <a href="{% url 'operation:about' %}">关于我们</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">书城
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" style="display: none;">
                                <li>
                                    <a href="{% url 'operation:shop' %}">书目</a>
                                </li>
                                <li>
                                    <a href="{% url 'operation:checkout' %}">心愿单</a>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="{% url 'operation:contact' %}">联系我们</a>
                        </li>
                           {% if isLogin %}
                            <li class="dropdown">

                                <a href="#" class="dropdown-toggle effect-3"
                                   data-toggle="dropdown">{{ userInfo.nickname }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" style="display: none;">
                                    <li>
                                        {#                                    用户头像#}
                                        <img src="{{ userInfo.avatar.url }}" style="max-width: 50%;"
                                             class="text-center img-circle img-responsive"/>
                                    </li>
                                    <li>
                                        <a href="{% url 'user:center' %}">个人信息</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'operation:rental' 1 %}">租借信息</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'user:logout' %}">登出</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'operation:login' %}" title="登录 &amp; 注册">
                                    <span class="fa fa-user nav-icon" aria-hidden="true"></span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>

                    <div class="search-bar-agileits">
                        <div class="cd-main-header">
                            <ul class="cd-header-buttons">
                                <li>
                                    <a class="cd-search-trigger" href="#cd-search">
                                        <span></span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div id="cd-search" class="cd-search">
                            <form action="{% url 'operation:search' %}" method="post">
                                {% csrf_token %}
                                <input name="search" type="search" placeholder="请输入书名或作者">
                            </form>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>
    </nav>


    <div class="banner-bg-inner">

        <div class="banner-text-inner">
            <div class="container">
                <h2 class="title-inner">
                    图书世界
                </h2>

            </div>
        </div>

    </div>


    <div class="crumbs text-center">
        <div class="container">
            <div class="row">
                <ul class="btn-group btn-breadcrumb bc-list">
                    <li class="btn btn1">
                        <a href="{% url 'operation:index' %}">
                            <i class="glyphicon glyphicon-home"></i>
                        </a>
                    </li>
                    <li class="btn btn2">
                        <a href="{% url 'operation:shop' %}">书目</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="innerf-pages section">
        <div class="container-cart">

            <div class="side-bar col-md-3">

                <div class="left-side">
                    <h3 class="shopf-sear-headits-sear-head">
                        分类目录</h3>
                    <form action="{% url 'operation:shop_categories' 'categories'%}" method="post">
                    {% csrf_token %}
                    <ul>
                        <li>
                            {% for category in categories %}
                                <input type="checkbox" class="checked" name="categories" value="{{ category.0 }}">
                                <span class="span">{{ category.1 }}</span>
                            {% endfor %}
                        </li>
                    </ul>
                    <input value="搜索" type="submit">
                    </form>
                </div>

                <div class="search-hotel">
                    <h3 class="shopf-sear-headits-sear-head">
                        <span>作者</span>聚焦</h3>
                    <form action="{% url 'operation:shop_author_get' 'author' %}" method="post">
                        {% csrf_token %}
                        <input type="search" placeholder="请输入作者姓名" name="author" required autocomplete>
                        <input type="submit" value="搜索">
                    </form>
                </div>


                <div class="left-side">
                    <h3 class="shopf-sear-headits-sear-head">
                        <span>最新</span>图书</h3>
                    <form method="post" action="{% url 'operation:shop_added_time_get' 'added_time' %}">
                        {% csrf_token %}
                     <ul>
                        <li>
                            <input type="radio" class="radio" value="1" name="added_time">
                            <span class="span">最近一个月</span>
                        </li>
                        <li>
                            <input type="radio" class="radio" value="6" name="added_time">
                            <span class="span">最近半年</span>
                        </li>
                        <li>
                            <input type="radio" class="radio" value="12" name="added_time">
                            <span class="span">最近一年</span>
                        </li>
                    </ul>
                        <input type="submit" value="搜索">

                    </form>
               </div>

                <div class="customer-rev left-side">
                    <h3 class="shopf-sear-headits-sear-head">喜欢</h3>
                    <!--          需要提交表单生成推荐图书，映射关系5.0 前20% 4.0 前40% 3.5 前50% 3.0 前60% 2.5 前70%-->
                    <ul>
                        <li>
                            <a href="{% url 'operation:shop_recommend' 5 %}">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>5</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'operation:shop_recommend' 4 %}">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span>4</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'operation:shop_recommend' 3 %}">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span>3</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'operation:shop_recommend' 2 %}">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span>2</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'operation:shop_recommend' 1 %}">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span>1</span>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>


            <div class="left-ads-display col-md-9">
                <div class="wrapper_top_shop">
                    <div class="product-sec1">
                        {% for bookInfo in bookInfoList %}
                        <div class="col-md-3 product-men {% if forloop.counter|divisibleby:2 %}women_two{% endif %}">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="{% url 'operation:single_product' bookInfo.ISBN %}">
                                        <img src="{{ bookInfo.imageUrl }}" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>{{ bookInfo.name }}&nbsp;&nbsp;<a href="{% url 'operation:thumbs' bookInfo.ISBN %}">
                                    <span class="fa fa-thumbs-up">推荐</span>
                                    </a></h4>
                                    <p>{{ bookInfo.author }}</p>

                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <!--                      需要根据推荐数来生成star-->
                                            {% for item in bookInfo.starNum %}
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                                {% endfor %}
                                            {% for item in bookInfo.otherNum %}
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                                {% endfor %}
                                        </ul>
                                        <ul class="price-list">
                                            <li>现存{{ bookInfo.number_of_existing }}本</li>
                                            <li>
                                                共计{{ bookInfo.all_number }}本
                                            </li>
                                        </ul>

                                        <div class="clearfix"></div>
                                    </div>
                                    <form action="{% url 'operation:checkout' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="ISBN" value="{{ bookInfo.ISBN }}">
                                        <button type="submit" class="chr-cart pchr-cart">添加到心愿单
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                        </button>
                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
{#                            <div class="product-chr-info chr">#}
{#                                <div class="thumbnail">#}
{#                                    <a href="{% url 'operation:single_product' '0' %}">#}
{#                                        <img src="{% static 'images/lib6.jpg' %}" alt="">#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="caption">#}
{#                                    <h4>e-commerce</h4>#}
{#                                    <p>Chris Haroun</p>#}
{#                                    <div class="matrlf-mid">#}
{#                                        <ul class="rating">#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                        <ul class="price-list">#}
{#                                            <li>$ 125.00</li>#}
{#                                            <li>#}
{#                                                $165.00#}
{#                                            </li>#}
{#                                        </ul>#}
{##}
{#                                        <div class="clearfix"></div>#}
{#                                    </div>#}
{#                                    <form action="#" method="post">#}
{#                                        <input type="hidden" name="cmd" value="_cart">#}
{#                                        <input type="hidden" name="add" value="1">#}
{#                                        <input type="hidden" name="chr_item" value="Book5">#}
{#                                        <input type="hidden" name="amount" value="125.00">#}
{#                                        <button type="submit" class="chr-cart pchr-cart">Add to cart#}
{#                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>#}
{#                                        </button>#}
{#                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{#                        <div class="col-md-3 product-men">#}
{#                            <div class="product-chr-info chr">#}
{#                                <div class="thumbnail">#}
{#                                    <a href="{% url 'operation:single_product' '0' %}">#}
{#                                        <img src="{% static 'images/lib7.jpg' %}" alt="">#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="caption">#}
{#                                    <h4>marketing</h4>#}
{#                                    <p>Scott Harris</p>#}
{#                                    <div class="matrlf-mid">#}
{#                                        <ul class="rating">#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                        <ul class="price-list">#}
{#                                            <li>$ 180.00</li>#}
{#                                            <li>#}
{#                                                $220.00#}
{#                                            </li>#}
{#                                        </ul>#}
{##}
{#                                        <div class="clearfix"></div>#}
{#                                    </div>#}
{#                                    <form action="#" method="post">#}
{#                                        <input type="hidden" name="cmd" value="_cart">#}
{#                                        <input type="hidden" name="add" value="1">#}
{#                                        <input type="hidden" name="chr_item" value="Book9">#}
{#                                        <input type="hidden" name="amount" value="180.00">#}
{#                                        <button type="submit" class="chr-cart pchr-cart">Add to cart#}
{#                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>#}
{#                                        </button>#}
{#                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="col-md-3 product-men women_two">#}
{#                            <div class="product-chr-info chr">#}
{#                                <div class="thumbnail">#}
{#                                    <a href="{% url 'operation:single_product' '0' %}">#}
{#                                        <img src="{% static 'images/lib6.jpg' %}" alt="">#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="caption">#}
{#                                    <h4>e-commerce</h4>#}
{#                                    <p>Chris Haroun</p>#}
{#                                    <div class="matrlf-mid">#}
{#                                        <ul class="rating">#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#">#}
{#                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                        <ul class="price-list">#}
{#                                            <li>$ 125.00</li>#}
{#                                            <li>#}
{#                                                $165.00#}
{#                                            </li>#}
{#                                        </ul>#}
{##}
{#                                        <div class="clearfix"></div>#}
{#                                    </div>#}
{#                                    <form action="#" method="post">#}
{#                                        <input type="hidden" name="cmd" value="_cart">#}
{#                                        <input type="hidden" name="add" value="1">#}
{#                                        <input type="hidden" name="chr_item" value="Book5">#}
{#                                        <input type="hidden" name="amount" value="125.00">#}
{#                                        <button type="submit" class="chr-cart pchr-cart">Add to cart#}
{#                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>#}
{#                                        </button>#}
{#                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}

                        <div class="clearfix">

                        </div>
                    </div>


                    <div class="clearfix">

                    </div>
                </div>
{#                <ul class="pagination pagination-lg">#}
{#                    <li>#}
{#                        <a href="#">&laquo;</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#">1</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#">&raquo;</a>#}
{#                    </li>#}
{#                </ul>#}
            </div>
            <div class="clearfix"></div>

        </div>
    </div>


    <div class="footerv4-top">
        <div class="container">
            <ul class="bottom-links-agile">
                <li>
                    <a href="{% url 'operation:index' %}">首页</a>
                </li>
                <li>
                    <a href="{% url 'operation:about' %}">关于我们</a>
                </li>
                <li>
                    <a href="{% url 'operation:shop' %}">书城</a>
                </li>
                <li>
                    <a href="{% url 'operation:contact' %}">联系我们</a>
                </li>
                <li>
                    {% if isLogin %}
                        <a href="{% url 'user:center' %}" class="text-right">个人中心</a>
                    {% else %}
                        <a href="{% url 'operation:login' %}" class="text-right">登录</a>
                    {% endif %}
                </li>

            </ul>


            <div class="col-md-3 col-sm-6 footv4-left">
                <h3>关于我们</h3>
                <h4>
                    <a href="{% url 'operation:index' %}">美度图书</a>
                </h4>
                <p>美好度过阅读时光</p>


            </div>
            <div class="col-md-3 col-sm-6 footv4-content">
                <h3>推荐类别</h3>
                {#            #}
                {#            ('youth', '青春'), ('art', '艺术'), ('fiction', '小说')] [('11', '测试1', datetime.date(2020, 4, 10)), ('511', '测试2', datetime.date(2020, 4, 10)), ('32162', '测试3',#}
                {#datetime.date(2020, 4, 10)), ('6436', '测试4', datetime.date(2020, 4, 8))#}
                <!--          根据推荐数生成类别-->
                <ul class="v4-content">
                    {% for category in category_list %}
                        <li>
                            <a href="{% url 'operation:shop_categories' category.0 %}">{{ category.1 }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 footv4-left fv4-g3">
                <h3>最新藏书</h3>
                <ul class="v4-rel">
                    {% for book_info in last_book_info_list %}
                        <li>
                            <a href="{% url 'operation:single_product' book_info.0 %}">
                                {{ book_info.1 }}
                            </a>
                            <p>{{ book_info.2 }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 footv4-left">
                <!--          如果已经存在，那么直接返回详情页，否则装入预订单-->
                <h3>找不到想要的?</h3>
                <form action="{% url 'operation:wish' %}" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="书名" name="name" style="color: black;" required>
                    <input type="text" placeholder="作者" name="author" style="color: black;" required>
                    <input type="text" placeholder="更多书籍信息" name="other" style="color: black;" required>
                    <input type="submit" value="提交">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="cpy-right">
        <p>Copyright © 2020.Company name All rights reserved.
        </p>
    </div>
</div>


<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>


<script src="{% static 'js/minicart.js' %}"></script>
<script>
    chr.render();

    chr.cart.on('new_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
            items = this.items();

            for (i = 0, len = items.length; i < len; i++) {
            }
        }
    });
</script>


<script src="{% static 'js/jquery-ui.js' %}"></script>
<script>
    //<![CDATA[
    $(window).load(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 9000,
            values: [50, 6000],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

    }); //]]>
</script>


<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>


<script src="{% static 'js/main.js' %}"></script>


<script src="{% static 'js/scrolling-nav.js' %}"></script>


<script src="{% static 'js/bootstrap.js' %}"></script>

<script src="{% static 'js/move-top.js' %}"></script>
<script src="{% static 'js/easing.js' %}"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>


<script>
    $(document).ready(function () {
        /*
          var defaults = {
          containerID: 'toTop', // fading element id
          containerHoverID: 'toTopHover', // fading element hover id
          scrollSpeed: 1200,
          easingType: 'linear'
          };
        */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>


<script src="{% static 'js/SmoothScroll.min.js' %}"></script>


<a href="#" id="toTop" style="display: none;"><span id="toTopHover" style="opacity: 0;"></span>To Top</a></body>
</html>
